.foot {
    background-color: var(--main);
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    height: 100px;
    position: fixed; /* Change to fixed */
    bottom: -20px;
    z-index: 20;
}

.ft {
    height: fit-content;
}

.footer_text {
    width: max-content !important;
    padding: 0px;
    margin: 0px;
    color: #FFF;
}
@media (max-width: 991px) {
    body{
        overflow-y: hidden;
    }
    .foot {
        
        position: absolute; /* Change to fixed */
        bottom: -20%;
        z-index: 20;
    }
    
  
  }