.home_container{
    display:flex;
    flex-direction: column;
    padding-bottom: 80px;
    background-color: var(--main);
    overflow-x: hidden;
}
.row_one{
    width: 100%;
    height:max-content;
}
.row_two{
    width: 100%;
    height: max-content;
    position: relative;
    display:block;
    /* transform: scaleY(0.9); */

}
.row_two video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
    z-index: 1; /* Move the video behind other content */
    }
.row_two p{
    display: block;
    z-index: 10; 
    width: 414px;
    font-size: 63px;
    font-weight: 600;
    color: white;
    position: relative;
    margin-left: 150px;
    margin-top: 70px;
}
#solve_btn:hover{
    background-color: var(--lightrh);
    color: #FFF;
    cursor: pointer; /* Add this to show pointer cursor on hover */
  }
#solve_btn{
    position: relative;
    z-index: 10;

    margin-top: 30px;
    margin-left: 150px;
    margin-bottom: 100px;
    background-color: var(--lightr);
    color: #FFF;
    border-radius: 15px;
    border: none;
    width:160px;
    height:50px;
  }
  @media (max-width: 576px) {
    .row_two{
        justify-content: center;
        align-items: center;
        margin: 0px;

    }
    .row_two p {
      font-size: 8vw; 
      width: 50%;
      text-align: center;
    }
  
    #solve_btn {
      width: 50vw; 
      height: 12vw;
      font-size: 4vw; 
    }

  }
  