.nav_main {
    background-color: var(--main) !important;
    -webkit-user-select: none;
    height: 70px;
  }
 
  .nav_logo {
    transform: scale(0.8);
  }
  
  .active-link {
    background-color: var(--accent) !important;
    color: var(--main) !important;
  }
  
  a.nav-link {
    color: white;
    margin-right: 35px !important;
    text-align: center;
  }
  
  a.nav-link::selection {
    color: var(--accent);
  }
  
  a.nav-link:hover {
    background-color: var(--accent);
    color: var(--main) !important;
  }
  a.nav-link:focus,
a.nav-link:active {
  outline: none !important; /* Remove outline on focus and active states */
  border: none;

}
.navbar-collapse {
  
  justify-content: center; /* Center the toggle contents */
  align-items: center;
  background-color: var(--main); /* Change toggle background */
  margin: 0;
  width: 200px !important;
  

}
.navbar-collapse a {
  justify-content: center; /* Center the toggle contents */
  align-items: center;

}

  .container {
    margin-left: 7px;
    padding-left: 0px;
    width: 100% !important;
  }
  .navbar-toggler-icon{
    background-image: url('../images/menu.png');
    outline: none;
    border: none;
    outline: none;

}
.navbar-toggler:focus {
  text-decoration: none; 
  outline: none;
  box-shadow: 0 0 0 #ffffff00;
  border: none;
}
@media (max-width: 991px) {
  .container{
    display:flex;
    justify-content: center; /* Center the toggle contents */
    align-items: center;
    margin:auto !important;
    width:500px !important;
  }
  .navbar-collapse a {
    margin-right: 0px !important;
    width: 100% !important;
    
  }
  .me-auto{
    margin: 0px !important;
    width: 100% !important;
  }

}