#THE-CUBE {
  width: 30vw;
  display: grid;
  grid-template: 7vw 7vw 7vw / 7vw 7vw 7vw 7vw;
  /* background-color: black; */
  padding: 0vh 35vw;
}

.side {
  width: 6vw;
  height: 6vw;
  display: grid;
  grid-template: 2vw 2vw 2vw / 2vw 2vw 2vw;
  align-items: center;
  justify-content: center;
}

#top-side {
  grid-area: 1/2/2/3;
}

#left-side {
  grid-area: 2/1/3/2;
}

#front-side {
  grid-area: 2/2/3/3;
}

#right-side {
  grid-area: 2/3/3/4;
}

#bottom-side {
  grid-area: 3/2/4/3;
}

#back-side {
  grid-area: 4/2/5/3;
}

button {
  width: 2.3vw;
  height: 2.2vw;
  border-radius: 0.5vw;
  border-width: 0.25vw;
  border-color: rgb(56, 56, 56);
  text-align: center;
}

#scramble_button{
  width: 200px;
  height: max-content;
  padding: 5px;
  position: relative;
  margin-left: 15px;
  color: white;
  background-color: brown;
}

#make_scramble_button {
  width: 500px;
  position: relative;
  left: -470px;
  top: 50px;
  color: white;
  height: max-content;
  padding: 5px;
  background-color: brown;
}
.hint{
  margin-top: 20px;
}
#toggle_scramble_mode {
  width: 300px;
  position: relative;
  left: -870px;
  top: 100px;
  color: white;
}
