
.play_title_section{
    padding-bottom: 5px;
}

.play_container{
    margin: 5px;
    padding-bottom: 5px;
}
.leg_contain{
	display: flex;
	width: 100%;
	height: max-content;
	justify-content: flex-start;
	align-items: flex-start;
	position: absolute;
}
#legend {
	
	margin-top: 2%;
	background-color: rgba(228, 222, 222, 0.92);
	padding: 10px;
	border-radius: 5px;
	font-family: Arial, sans-serif;
	font-size: 14px;
	margin-right: 2%;
}

#legend h2 {
	margin-top: 0;
	font-size: 18px;
}
.space_2d{
	margin-bottom: 5%;
}
