
.rankings_container{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.ranking_title_section{
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-shrink: 0;

    color: #000;
    font-family: Orbitron;
    font-size: 45.133px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-bottom:22px;
}

