.rules_contain {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 33px;
  }
  
  .rules_sub {
    font-size: 35px;
    padding-bottom: 0px;
    margin-bottom: 0px;
  }
  
  .rules_text {
    margin-top: 20px;
    max-width: 750px;
  }
  
  .anim_contain {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 200px;
  }
  
  .anim_contain img {
    max-width: 280px;
    height: 210px;
    animation: floatAndRotateAnimation 8s ease-in-out infinite alternate;
  }
  #rules_btn{
    background-color: var(--lightr);
    color: #FFF;
    border-radius: 15px;
    border: none;
    width:160px;
    height:50px;
  }
  #rules_btn:hover{
    background-color: var(--lightrh);
    color: #FFF;
    border-radius: 15px;

  }
  @keyframes floatAndRotateAnimation {
    0% {
      transform: translateY(20px) rotate(0deg);
    }
    100% {
      transform: translateY(1000px) rotate(360deg);
    }
  }
  @keyframes rotateAnimation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  @media screen and (max-width: 1238px) {
    .anim_contain{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom:100px;
        padding:30px;
    }
    #one_cube{
        display: none;
    }
    .anim_contain img {
      animation: rotateAnimation 14s linear infinite;
    }
  }