body{
    font-family: 'Orbitron', sans-serif;
    overflow-x: hidden !important;
    -webkit-user-select: none;

}
:root{
    --main: #780000;
    --accent:#FDF0D5;
    --lightr:#C1121F;
    --lightrh:#f36e76;
}
.notice{
    background-color: black;
    width:100%;
    height: 100%;
    color:var(--accent);
    display: none;
    position: fixed;
    opacity: 0;
    z-index: 15;
}
@media (max-width: 1280px) {
  .notice{
    display: flex;    
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 1;
    z-index: 15;
    font-size: 30px;
  }
    .nav_main{
        opacity: 0;
    }
    .foot{
        opacity: 0;
    }

  }