.Control-Buttons {
    margin: 35px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.btn-grp {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
 
.btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 10vw;
    height: 6vh;
    border-radius: 14px;
    margin: 0px 6px;
    display: flex;
    border: 2px solid var(--main);
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--main);
    background-color: var(--accent);
}
 .btn:hover{
    background-color: var(--main);
    color:#FFF;
    border: 2px solid var(--accent);

 }
.btn-one {
    background-color: #e42a2a;
}