.stop-watch {
    height: 15vh;
    width: 23vw;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 400px;
    left: 65px;
}