.timer {
    margin: 35px;
    width: 90%;
    display: flex;
    height: 5%;
    justify-content: center;
    align-items: center;
}
 
.digits {
    font-family: Verdana, Tahoma, sans-serif;
    font-size: 3rem;
    color: var(--main);
}
 
.mili-sec {
    color: var(--main);
}